html, body {
	height: 100vh;
}

.success {
	border-color: var(--ins-color);
	background-color: var(--ins-color);
}

.error {
	border-color: var(--del-color);
	background-color: var(--del-color);
}

main > article, main {
	background-color: var(--background-color) !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	box-shadow: unset !important;
}
body > header {
	padding: 0 !important;
}

body > footer {
	padding: 15px !important;
}

footer,
hgroup,
table,
button,
select,
form,
figure {
	margin-bottom: 0 !important;
}

article {
	margin-top: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: calc(var(--block-spacing-vertical) / 2) !important;
}

article > header {
	padding: var(--spacing) !important;
	margin-bottom: calc(var(--block-spacing-vertical) / 2) !important;
}

article > footer {
	margin-top: calc(var(--block-spacing-vertical) / 2) !important;
}

th,
td,
button {
	padding: calc(var(--spacing) / 2) !important;
}
