server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;
    gzip on;
    location / {
        try_files $uri $uri/ $uri.html =404;
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location /api/bmc {
        proxy_pass   ${BMC_API};
        proxy_hide_header Content-Type;
        add_header Content-Type application/json;
        add_header Access-Control-Allow-Origin *;
        add_header BMC-Origin ${BMC_API};
    }
}
